@font-face {
    font-family: 'Chubby-Regular';
    src: url('../fonts/Chubby-Regular.eot');
    src: url('../fonts/Chubby-Regular.woff') format('woff'), url('../fonts/Chubby-Regular.ttf') format('truetype'), url('../fonts/Chubby-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din-medium';
    src: url('../fonts/din-medium.eot');
    src: local('☺'), url('../fonts/din-medium.woff') format('woff'), url('../fonts/din-medium.ttf') format('truetype'), url('../fonts/din-medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes rotate {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-left {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(-360deg);
    }
}

body{
    background-image:url("../img/background/FOND03.png");
    background-color: #303030!important
}

h5{
    font-size:18px!important;
}

h4{
    font-size:25px!important;
}

h3{
    font-size:30px!important;
}

h2{
    font-size:40px!important;
}

h1{
    font-size:50px!important;
}

hr {
    height: 5px;
    color: #F00;
    background-color: #EC9306!important;
    border: 0;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}

.din{
    font-family: "din-medium";
    color:white;
}

.chubby{
    font-family: "Chubby-Regular";
    color:white;
}

.grey{
    color:#838383!important;
}

.darkgrey_background{
    background-color: #303030!important;
}

.white_background{
    background-color: white!important;
}

.margin_top{
    margin-top: 40px;
}

.margin_left{
    margin-left: 40px;
}

.orange{
    color:#EC9306!important;
}

.orange_aneo{
    color:#EE7003!important;
}
.petit{
  height:70px !important;
  width:70px !important;
  margin-top:15px !important;
}
.moyen{
  height:80px!important;
  width:80px!important;
  margin-top:10px!important;

}
.grand{
  height:90px!important;
  width:90px!important;
  margin-top:5px!important;
}
.circle_button{
    line-height: 200px;
    font-size:18px;

    background:#EC9306!important;
    color:white;
    border-radius: 50%;
    text-align: center;
    display:inline-block;
}

.turn-arround{
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    z-index:1;
}

.turn-arround-left{
    -webkit-animation-name: rotate-left;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    z-index:1;
}

#ambassador_logo {
    margin-top: 100px;
}

.icone {
    margin: 5px;
}

.flex-container {
    padding: 0;
    margin: 0;
    position:relative;
    list-style: none;
    width: 100%!important;
    height:100px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    width: 100px;
    height: 100px;
    position: absolute;
    text-align:center;
    vertical-align: middle;

}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
